# Flutter/Dart build files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Firebase local configurations
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# VS Code / Android Studio local files
.idea/
.vscode/
*.iml
*.iws

# OS files
.DS_Store
Thumbs.db